<ons-page ng-controller="techController as ctrl">

    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button ng-click="app.menu.toggleMenu()">
                <ons-icon icon="fa-bars"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Technique</div>
    </ons-toolbar>

    <ons-list>

        <ons-list-item ng-repeat="(key, value) in ctrl.information">
            <span class="technique-key">{{key}}:</span> {{value}}
        </ons-list-item>

    </ons-list>

</ons-page>